.timer-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-container .group-input {
    margin: 1em
}

.timer-controlers {
    display: flex;
    justify-content: center;
    width: 100%;
}

.timer-controlers button {
    margin-left: 10px;
    margin-right: 10px;
}

.timer-text-container {
    margin-top: 1em;
    display: flex;
    font-size: x-large;
    color: #646cff;
}

.timer-text span{
    color: white
}
