.main-container {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.main-title-row {
    border-bottom: 2px solid white;
}

.main-inputs-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 2vh;
}

.group-input {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 50%;
}

.group-input:hover {
    border-color: #646cff
}

.group-input span {
    padding-top: 10px;
    padding-bottom: 10px;
}

.group-input input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-buttons {
    display: flex;
    margin-top: 20px;
}

.main-buttons-column {
    padding-left: 10px;
    padding-right: 10px;
}

.main-content-row {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-between;
}

.media-column {
    width: 50%;
}

@media screen and (max-width: 1024px){
    .main-content-row{
        flex-direction: column;
        align-items: center;
    }
}